# Gradle
.gradle/
build/
*.apk
*.ap_
*.dex

# Android Studio
.idea/
.DS_Store
*.iml
*.iws
*.ipr
.classpath
.project
.c9/
*.launch
.settings/
*.sublime-workspace

# IntelliJ
out/
.idea_modules/
*.swp
*~
*.pyc

# Local properties
local.properties

# Log Files
*.log